{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block content %}
{% if cart.products.all %}
<div class="relative overflow-x-auto rounded-xl mt-4">
  <table class="w-full text-left">
    <thead class="uppercase bg-gray-50 dark:bg-neutral-700">
      <tr>
        <th scope="col" class="px-6 py-3">Image</th>
        <th scope="col" class="px-6 py-3">Product</th>
        <th scope="col" class="px-6 py-3">Price</th>
        <th scope="col" class="px-6 py-3">Quantity</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for product in cart.products.all %}
      <tr class="bg-white hover:bg-gray-50 dark:bg-neutral-800 dark:hover:bg-gray-600">
        <td class="px-6 py-4">
          <a href="#" class="cursor-pointer show-image-popup" data-src="{{ product.image.url }}">
            <img src="{{ product.image.url }}" class="rounded" width="30" height="30" alt="{{ product.title }}">
          </a>
        </td>
        <th scope="row" class="px-6 py-4 whitespace-nowrap">
          {{ product.title|truncatechars:50 }}
        </th>
        <td class="px-6 py-4">${{ product.normal_price|floatformat:2 }}</td>
        <td class="px-6 py-4">pending</td>
        <td class="px-6 py-4">
          <a href="{% url 'users:remove_prod_to_cart' product.id %}" class="bg-red-500 text-white px-2 py-1 rounded-lg">
            Remove
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="w-full h-96 dark:bg-neutral-800 rounded-xl text-white flex items-center justify-center mt-4">Empty cart.</div>
{% endif %}
{% if cart.products.all %}
<div class="p-4">
  <a href="{% url 'users:clear_cart' %}" class=" bg-red-500 text-white px-2 py-1 rounded-lg">Clear Cart</a>
  <a href="#" class="bg-green-500 text-white px-2 py-1 rounded-lg">Checkout</a>
</div >
{% endif%}
{% endblock content %}