{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block content %}
    <h1>Cart</h1>

    {% if cart.cartitem_set.all %}
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Subtotal</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart.cartitem_set.all %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.product.price }}</td>
                <td>pending</td>
                <td>
                    <form action="{% url 'remove_from_cart' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Total: $ pending</p>

    <a href="{% url 'featured_product' %}">Checkout</a>
    <!--  {% url 'checkout' %} -->

    {% else %}
    <p>The cart is empty.</p>
    {% endif %}
{% endblock content %}