{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block content %}
<main>
  <!-- CART -->
  <header class="my-4">
    <h1 class="headline-1">Cart ({{ cart_count }})</h1>
  </header>
  {% if cart_items %}
  <section class="table-wrap">
    <table>
      <thead class="table-head">
        <tr>
          <th scope="col" class="cell">Image</th>
          <th scope="col" class="cell">Product</th>
          <th scope="col" class="cell">Price</th>
          <th scope="col" class="cell">Quantity</th>
          <th scope="col" class="cell">Total</th>
          <th scope="col" class="cell">Action</th>
        </tr>
      </thead>
      {% for cart_item in cart_items %}
      <tbody class="table-body">
        <tr>
          <td class="cell">
            <a href="#" title="{{ cart_item.product.title }}" class="show-image-popup" data-src="{{ cart_item.product.image.url }}">
              <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.title }}" class="cs-rounded" width="30" height="30">
            </a>
          </td>
          <th scope="row" class="cell whitespace-nowrap">
            {{ cart_item.product.title }}
          </th>
          <td class="cell">${{ cart_item.product.normal_price|floatformat:2 }}</td>
          <td class="cell">{{ cart_item.quantity }}</td>
          <td class="cell">${{ cart_item.total_price|floatformat:2 }}</td>
          <td class="cell">
            <a href="{% url 'cart:remove_prod_cart' cart_item.product.id %}" title="Remove" class="bg-red-500 text-white px-2 py-1 cs-rounded">
              Remove
            </a>
            <a href="{% url 'cart:subtract_prod_cart' cart_item.product.id %}" title="Subtract" class="bg-blue-500 text-white px-2 py-1 cs-rounded">
              Subtract
            </a>
            <a href="{% url 'cart:add_prod_cart' cart_item.product.id %}" title="Add" class="bg-blue-500 text-white px-2 py-1 cs-rounded">
              Add
            </a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </section>
  {% else %}
    {% include "components/empty.html" with arg="cart" %}
  {% endif %}
  <!-- BUTTON CART -->
  {% if cart_items %}
  <nav class="p-4">
    <a href="{% url 'cart:clear_cart' %}" title="Clear" class="bg-red-500 text-white px-2 py-1 cs-rounded">Clear Cart</a>
    <a href="#" title="Checkout" class="bg-green-500 text-white px-2 py-1 cs-rounded">Checkout</a>
  </nav>
  {% endif %}
  <!-- WISHLIST -->
  <header class="my-4">
    <h2 class="headline-1">Wishlist ({{ wishlist_count }})</h2>
  </header>
  {% if wishlist.products.all %}
  <section class="table-wrap">
    <table>
      <thead class="table-head">
        <tr>
          <th scope="col" class="cell">Image</th>
          <th scope="col" class="cell">Product</th>
          <th scope="col" class="cell">Price</th>
          <th scope="col" class="cell">Quantity</th>
          <th scope="col" class="cell">Action</th>
        </tr>
      </thead>
      {% for product in wishlist.products.all %}
      <tbody class="table-body">
        <tr>
          <td class="cell">
            <a href="#" title="{{ product.title }}" class="show-image-popup" data-src="{{ product.image.url }}">
              <img src="{{ product.image.url }}" alt="{{ product.title }}" class="cs-rounded" width="30" height="30">
            </a>
          </td>
          <td class="cell">
            {{ product.title|truncatechars:50 }}
          </td>
          <td class="cell">${{ product.normal_price|floatformat:2 }}</td>
          <td class="cell">pending</td>
          <td class="cell">
            <a href="{% url 'cart:add_prod_cart' product.id %}" title="Add to cart" class="bg-blue-600 text-white px-2 py-1 cs-rounded">Add to cart</a>
            <a href="{% url 'cart:remove_prod_wishlist' product.id %}" title="Remove" class="bg-red-500 text-white px-2 py-1 cs-rounded">Remove</a>
          </td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </section>
  {% else %}
    {% include "components/empty.html" with arg="wishlist"%}
  {% endif %}
  <!-- IMAGE MODAL -->
  {% include "fragments/image_modal.html" %}
</main>
{% endblock %}