{% extends 'base.html' %}
{% load static %}
{% block title %}{{ page.key|title }}{% endblock title %}
{% block content %}
<section class="py-4">
  <div class="box">
    <div class="relative p-4">
      {% if page.image %}
      <img src="{{ page.image.url }}" alt="{{ page.key }}" class="w-full h-64 object-cover rounded-lg" />
      {% else %}
      <img src="{% static 'image/default-image-front.webp' %}" alt="default-image" class="w-full h-64 object-cover rounded-xl" />
      {% endif %}
      <div class="absolute inset-0 opacity-30 rounded-xl"></div>
    </div>
    <article class="px-4 pb-4">
      {{ page.content|safe }}
    </article>
  </div>
</section>
{% endblock content %}