{% extends 'base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block content %}
  <style>
    .errorlist {
      color: red;
    }

    label {
      display: none;
    }
  </style>

  <main role="main">
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-3 mt-3">
        <div class="col-span-2 mx-auto mb-5">
          <form action="" method="post">
            {% csrf_token %}
            <h3 class="mb-4">Registration</h3>
            {{ form.as_p }}
            <p><input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-full" value="Confirm"></p>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}