{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <!--Dashboard-->
    <section>
        <h2>Featured Products</h2>
        <!-- Add content -->
    </section>

    <!--Section: Categories-->

    <!--Products Cards-->
    <section>
        <div>
            <img src="imagen_producto1.jpg" alt="Producto 1">
            <h3>Nombre del Producto 1</h3>
            <p>Descripción breve del Producto 1.</p>
            <p>$Precio</p>
            <button>Agregar al Carrito</button>
        </div>
    </section>

{% endblock content %}

{% block javascript %}{% endblock javascript %}