{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <!--Dashboard-->
    <section>
        <h2>Featured Products</h2>
        <!-- Add content -->
    </section>

    <!--Section: Categories-->

    <!--Products Cards-->
    <section>
        <div class="row">
            {% for product in featured_products %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">$ {{ product.normal_price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock content %}

{% block javascript %}{% endblock javascript %}