{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ company.name|default:'Company' }} | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="icon" type="image/svg+xml" href="{{ company.logo.url }}">
    <meta name="description" content="Explore New Store's catalog to discover innovative products at friendly prices. From technological gadgets to home essentials, we offer modern solutions that fit your budget." />
    <link rel="canonical" href="https://www.newstore.com/" />
    <meta name="robots" content="index, follow" />    
  </head>
  <body class="container__main styles">

    <!-- Navbar -->
    {% include "components/header.html" %}

    <!-- Main Content -->
    <main class="container__section space-y-4">
      {% block content %}{% endblock content %}
      {% include "components/signup.html" %}
    </main>

    <!-- Image Modal -->
    {% include "components/image_modal.html" %}
    
    <!-- Footer -->
    {% include "components/footer.html" %}
    
    <!-- Btn-Scroll -->
    {% include "components/btn_scroll.html" %}

    <!-- JQuery Files -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- JavaScript Files -->
    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>