{% extends 'layouts/base_management.html' %}
{% block title %}Brand List{% endblock title %}
{% block content %}

<!-- Headline -->
<header class="flex items-center justify-between my-4">
  <h2 class="headline">Brands</h2>
  <a href="{% url 'management:brand_create' %}" class="btn btn--primary">Create</a>
</header>

<!-- Brand Table -->
<section class="data-table">
  <table class="data-table__wrapper">
    <thead class="data-table__head">
      <tr>
        <th scope="col" class="data-table__cell">Id</th>
        <th scope="col" class="data-table__cell--sticky">Name</th>
        <th scope="col" class="data-table__cell">Slug</th>
        <th scope="col" class="data-table__cell">Show-Hide</th>
        <th scope="col" class="data-table__cell">Options</th>
      </tr>
    </thead>
    {% for brand in brands %}
    <tbody class="data-table__body">
      <tr>
        <td class="data-table__cell">{{ brand.id }}</td>
        <td class="data-table__cell--sticky">{{ brand.name }}</td>
        <td class="data-table__cell">{{ brand.slug }}</td>
        <td class="data-table__cell">{{ brand.show_hide }}</td>
        <td class="data-table__cell">
          <a href="{% url 'management:brand_update' pk=brand.pk %}">Update</a>
          <a href="{% url 'management:brand_delete' pk=brand.pk %}">Delete</a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</section>

{% endblock %}