{% extends 'management/management.html' %}

{% block title %}Category Form{% endblock title %}

{% block content %}
<main class="sm:ml-64 px-4">
  <section class="box mt-4">

    <!-- HEADLINE -->
    <header class="py-8 text-center">
      <h2 class="headline">Update Category</h2>
    </header>

    <!-- PAGE FORM -->
    <form method="POST" enctype="multipart/form-data" class="max-w-screen-sm mx-auto space-y-4">{% csrf_token %}
      <label class="block">
        <span class="bold">Title</span>
        {{ form.title }}
      </label>
      <label class="block">
        <span class="bold">Slug</span>
        {{ form.slug }}
      </label>
      <label class="block">
        <span class="bold">Show/Hide</span>
        {{ form.show_hide }}
      </label>
      <div class="py-8 space-y-2">
        <button type="submit" class="btn-primary w-full">
          Save brand
        </button>
        <a href="{% url 'management:category_list' %}" title="Cancel" class="btn-secondary w-full">
          Cancel
        </a>
      </div>
    </form>

  </section>
</main>
{% endblock %}