{% extends 'layouts/base_management.html' %}
{% block title %}Category Form{% endblock title %}
{% block content %}

<!-- Headline -->
<header>
  <h2 class="headline">Update Category</h2>
</header>

<!-- Category Form -->
<form method="POST" enctype="multipart/form-data" class="space-y-4 pb-4">{% csrf_token %}
  <label class="form__label">
    <span class="type-base--bold">Title</span>
    {{ form.title }}
  </label>
  <label class="form__label">
    <span class="type-base--bold">Slug</span>
    {{ form.slug }}
  </label>
  <label class="flex items-center">
    {{ form.show_hide }}
    <span class="ml-2">Show/Hide</span>
  </label>
  <div class="form__action">
    <button type="submit" class="btn btn--primary w-full">Save</button>
    <a href="{% url 'management:category_list' %}" title="Cancel" class="btn btn--secondary w-full">
      Cancel
    </a>
  </div>
</form>

{% endblock %}