{% extends 'layouts/base_management.html' %}
{% block title %}Category List{% endblock title %}
{% block content %}

<!-- Headline -->
<header class="flex justify-between">
  <h2 class="headline">Categories</h2>
  <a href="{% url 'management:category_create' %}" class="btn btn--primary">Create</a>
</header>

<!-- Category Table -->
<section class="data-table">
  <table class="data-table__wrapper">
    <thead class="data-table__head">
      <tr>
        <th scope="col" class="data-table__cell">Id</th>
        <th scope="col" class="data-table__cell">Title</th>
        <th scope="col" class="data-table__cell">Slug</th>
        <th scope="col" class="data-table__cell">Show-Hide</th>
        <th scope="col" class="data-table__cell">Options</th>
      </tr>
    </thead>
    {% for category in categories %}
    <tbody class="data-table__body">
      <tr>
        <td class="data-table__cell">{{ category.id }}</td>
        <td class="data-table__cell">{{ category.title }}</td>
        <td class="data-table__cell">{{ category.slug }}</td>
        <td class="data-table__cell">{{ category.show_hide }}</td>
        <td class="data-table__cell">
          <a href="{% url 'management:category_update' pk=category.pk %}">Update</a>
          <a href="{% url 'management:category_delete' pk=category.pk %}">Delete</a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</section>

{% endblock %}