{% extends 'layouts/base_management.html' %}

{% block title %}Category Form{% endblock title %}

{% block content %}
<!-- HEADLINE -->
<header>
  <h2 class="headline">Update Category</h2>
</header>

<!-- PAGE FORM -->
<form method="POST" enctype="multipart/form-data" class="space-y-4 pb-4">{% csrf_token %}
  <label class="block">
    <span class="bold">Title</span>
    {{ form.title }}
  </label>
  <label class="block">
    <span class="bold">Slug</span>
    {{ form.slug }}
  </label>
  <label class="block">
    <span class="bold">Show/Hide</span>
    {{ form.show_hide }}
  </label>
  <div class="space-y-2">
    <button type="submit" class="btn-primary w-full">
      Save brand
    </button>
    <a href="{% url 'management:category_list' %}" title="Cancel" class="btn-secondary w-full">
      Cancel
    </a>
  </div>
</form>
{% endblock %}