{% extends 'layouts/base_management.html' %}

{% block title %}Category List{% endblock title %}

{% block content %}
<!-- HEADLINE -->
<header class="flex justify-between">
  <h2 class="headline">Categories</h2>
  <a href="{% url 'management:category_create' %}" class="btn-primary">Create</a>
</header>

<!-- TABLE CONTENT -->
<section class="table-wrap">
  <table>
    <thead class="table-head">
      <tr>
        <th scope="col" class="cell">Id</th>
        <th scope="col" class="cell">Title</th>
        <th scope="col" class="cell">Slug</th>
        <th scope="col" class="cell">Show-Hide</th>
        <th scope="col" class="cell">Options</th>
      </tr>
    </thead>
    {% for category in categories %}
    <tbody class="table-body">
      <tr>
        <td class="cell">{{ category.id }}</td>
        <td class="cell">{{ category.title }}</td>
        <td class="cell">{{ category.slug }}</td>
        <td class="cell">{{ category.show_hide }}</td>
        <td class="cell">
          <a href="{% url 'management:category_update' pk=category.pk %}">Update</a>
          <a href="{% url 'management:category_delete' pk=category.pk %}">Delete</a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</section>
{% endblock %}