{% extends 'layouts/base_management.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<!-- Headline -->
<header class="flex justify-between">
  <h2 class="headline">Dashboard</h2>
</header>

<!-- Dashboard -->
<section class="grid grid-cols-2 lg:grid-cols-4 gap-4">
  <div class="box w-full h-64 p-4">
    <div class="bg-neutral-200 dark:bg-neutral-700 animate-pulse rounded-xl h-full"></div>
  </div>
  <div class="box w-full h-64 p-4">
    <div class="bg-neutral-200 dark:bg-neutral-700 animate-pulse rounded-xl h-full"></div>
  </div>
  <div class="hidden lg:block box w-full h-64 p-4">
    <div class="bg-neutral-200 dark:bg-neutral-700 animate-pulse rounded-xl h-full"></div>
  </div>
  <div class="hidden lg:block box w-full h-64 p-4">
    <div class="bg-neutral-200 dark:bg-neutral-700 animate-pulse rounded-xl h-full"></div>
  </div>
  <div class="box col-span-4 w-full h-64 p-4">
    <div class="bg-neutral-200 dark:bg-neutral-700 animate-pulse rounded-xl h-full"></div>
  </div>
</section>

{% endblock %}