{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ company.name }} | Management</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/icon.ico' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body class="container">
    <nav class="flex items-center justify-between sticky top-0 z-10 py-4 rounded-b-xl">
      <div class="flex-initial">
        <a href="{% url 'home:index' %}" class="flex items-center">
          <img src="{{ company.logo.url }}" class="h-8 mr-3" alt="{{ company.name }}" />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap text-sky-500 hidden md:block">
            {{ company.name|default:'Company' }}
          </span>
        </a>
      </div>
      <div class="flex-initial">
        <ul class="flex">
          <li class="mr-4">
            <a href="{% url 'management:management' %}" class="block px-12 p-2 bg-white hover:bg-neutral-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:focus:bg-sky-500 rounded-lg" aria-current="page">Board</a>
          </li>
          <li class="mr-4">
            <a href="{% url 'management:page_list' %}" class="block px-12 p-2 bg-white hover:bg-neutral-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:focus:bg-sky-500 rounded-lg" aria-current="page">Pages</a>
          </li>
          <li class="mr-4">
            <a href="{% url 'management:product_list' %}" class="block px-12 p-2 bg-white hover:bg-neutral-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:focus:bg-sky-500 rounded-lg">Products</a>
          </li>
          <li class="mr-4">
            <a href="{% url 'management:user_list' %}" class="block px-12 p-2 bg-white hover:bg-neutral-200 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:focus:bg-sky-500 rounded-lg">Users</a>
          </li>
        </ul>
      </div>
      <div class="flex-initial">
        None
      </div>
    </nav>
    {% block content %}{% endblock content %}
  </body>
</html>