{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ company.name|default:'Company' }} | {% block title %}Management{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="icon" type="image/svg+xml" href="{{ company.logo.url }}">
  </head>
  <body class="container">

    <!-- NAVBAR -->
    <header class="navbar-wrap">
      <nav>
        <div class="flex items-center space-x-4">
          <h1>
            <a href="{% url 'management:management' %}" class="flex items-center space-x-4 sm:pb-0">
              <img src="{{ company.logo.url }}" alt="{{ company.name }}" class="icon-md"/>
              <span class="headline-2 hidden xl:block">
                {{ company.name|default:'Company' }}
              </span>
            </a>
          </h1>
        </div>
        <div class="flex space-x-2">
          <a href="{% url 'home:index' %}" class="btn-secondary">Home</a>
          <div class="relative" id="userWrapper">
            <button data-dropdown-toggle="userList" class="btn-primary" type="button">Options</button>
            <div id="userList" class="list-wrap">
                <ul aria-labelledby="dropdownDefaultButton">
                  <li>
                    <a href="{% url 'management:management' %}" class="list-itm">Board</a>
                  </li>
                  <li>
                    <a href="{% url 'management:page_list' %}" class="list-itm">Pages</a>
                  </li>
                  <li>
                    <a href="{% url 'management:product_list' %}" class="list-itm">Products</a>
                  </li>
                  <li>
                    <a href="{% url 'management:user_list' %}" class="list-itm">Users</a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    <!-- MAIN CONTENT -->
    {% block content %}{% endblock content %}

    <!-- JQUERY CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- JS FILE -->
    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>