{% extends 'management/management.html' %}
{% load static %}
{% block title %}Page List{% endblock title %}
{% block content %}
<nav class="bg-neutral-800 cs-rounded flex items-center justify-between h-12">
  <div class="flex-none">
    {% include "components/pagination.html" %}
  </div>
</nav>
<section class="table-wrapper">
  <table class="table">
    <thead class="table-head">
      <tr>
        <th scope="col" class="cell">ID</th>
        <th scope="col" class="cell">IMAGE</th>
        <th scope="col" class="cell">UNIQUE KEY</th>
        <th scope="col" class="cell">CREATED AT</th>
        <th scope="col" class="cell">UPDATED AT</th>
        <th scope="col" class="cell">OPTIONS</th>
      </tr>
    </thead>
    {% for page in pages %}
    <tbody class="table-body">
      <tr>
        <td class="cell">{{ page.id }}</td>
        <td class="cell">
          {% if page.image %}
          <a href="#" title="{{ page.key }}" class="cursor-pointer show-image-popup" data-src="{{ page.image.url }}">
            <img src="{{ page.image.url }}" alt="{{ page.key }}" class="cs-rounded" width="25" height="25">
          </a>
          {% else %}
          <span>False</span>
          {% endif %}
        </td>
        <td class="cell">{{ page.key }}</td>
        <td class="cell">{{ page.created_at|date:"d/m/Y - g:i a" }}</td>
        <td class="cell">{{ page.updated_at|date:"d/m/Y - g:i a" }}</td>
        <td class="cell flex items-center space-x-4">
          <a href="{% url 'management:page_update' pk=page.pk %}" title="Update" class="hover:text-sky-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon">
              <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
              <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
            </svg>                        
          </a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</section>
{% endblock %}