{% extends 'layouts/base_management.html' %}
{% block title %}Page Form{% endblock title %}
{% block content %}

<!-- Headline -->
<header>
  <h2 class="headline">Update page</h2>
</header>

<!-- Page Form -->
<form method="POST" enctype="multipart/form-data" class="space-y-4 pb-4">{% csrf_token %}
  <label for="{{ form.key.id_for_label }}" class="block">
    <span class="bold">Key</span>
    {{ form.key }}
  </label>
  <label for="{{ form.content.id_for_label }}" class="block">
    <span class="bold">Content</span>
    {{ form.content }}
  </label>
  <label for="{{ form.image.id_for_label }}" class="block">
    <span class="bold">Image</span>
    {{ form.image }}
  </label>
  <div class="space-y-2">
    <button type="submit" class="btn btn--primary w-full">Save</button>
    <a href="{% url 'management:product_list' %}" title="Cancel" class="btn btn--secondary w-full">Cancel</a>
  </div>
</form>

{% endblock %}