{% extends 'management/management.html' %}
{% load static %}
{% block title %}Page Form{% endblock title %}
{% block content %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
  <div class="form-group">
    <label for="{{ form.key.id_for_label }}"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Key</label>
    {{ form.key }}
  </div>
  <div class="form-group">
    <label for="{{ form.content.id_for_label }}"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Content</label>
    {{ form.content }}
  </div>
  <div class="form-group">
    <label for="{{ form.image.id_for_label }}"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image</label>
    {{ form.image }}
  </div>
  <div class="m-4 flex justify-center">
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-3xl text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:bg-sky-500 dark:hover:bg-sky-600 focus:outline-none dark:focus:ring-neutral-700">
      Save page
    </button>
    <a href="{% url 'management:product_list' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-3xl text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:bg-sky-500 dark:hover:bg-sky-600 focus:outline-none dark:focus:ring-neutral-700">
      Cancel
    </a>
  </div>
</form>
{% endblock content %}