{% extends 'layouts/base_management.html' %}
{% block title %}Product List{% endblock title %}
{% block content %}

<!-- Headline -->
<header class="flex justify-between">
  <h2 class="headline">Products</h2>
  <a href="{% url 'management:product_create' %}" class="btn btn--primary">Create</a>
</header>

<!-- Product Table -->
{% if products %}
<section class="data-table">
  <table class="data-table__wrapper">
    <thead class="data-table__head">
      <tr>
        <th scope="col" class="data-table__cell">Id</th>
        <th scope="col" class="data-table__cell--sticky">Title</th>
        <th scope="col" class="data-table__cell">Slug</th>
        <th scope="col" class="data-table__cell">Brand</th>
        <th scope="col" class="data-table__cell">Normal Price</th>
        <th scope="col" class="data-table__cell">Sale Price</th>
        <th scope="col" class="data-table__cell">Deal</th>
        <th scope="col" class="data-table__cell">Category</th>
        <th scope="col" class="data-table__cell">Image</th>
        <th scope="col" class="data-table__cell">Stock</th>
        <th scope="col" class="data-table__cell">Warranty</th>
        <th scope="col" class="data-table__cell">Featured</th>
        <th scope="col" class="data-table__cell">Show/Hide</th>
        <th scope="col" class="data-table__cell">Description</th>
        <th scope="col" class="data-table__cell">Specifications</th>
        <th scope="col" class="data-table__cell">Created at</th>
        <th scope="col" class="data-table__cell">Updated at</th>
        <th scope="col" class="data-table__cell">Options</th>
      </tr>
    </thead>
    {% for product in products %}
    <tbody class="data-table__body">
      <tr>
        <td class="data-table__cell">{{ product.id }}</td>
        <td class="data-table__cell--sticky">{{ product.title|truncatechars:15 }}</td>
        <td class="data-table__cell">{{ product.slug|truncatechars:15 }}</td>
        <td class="data-table__cell">{{ product.brand }}</td>
        <td class="data-table__cell">{{ product.normal_price }}</td>
        <td class="data-table__cell">{{ product.sale_price }}</td>
        <td class="data-table__cell">{{ product.deal }}</td>
        <td class="data-table__cell">{{ product.category }}</td>
        <td class="data-table__cell">
          {% if product.image %}
          <a href="#" class="show-image-popup" data-src="{{ product.image.url }}">
            <img src="{{ product.image.url }}" alt="{{ product.title }}" class="icon--sm rounded">
          </a>
          {% else %}None{% endif %}
        </td>
        <td class="data-table__cell">{{ product.stock }}</td>
        <td class="data-table__cell">{{ product.warranty }}</td>
        <td class="data-table__cell">{{ product.featured }}</td>
        <td class="data-table__cell">{{ product.show_hide }}</td>
        <td class="data-table__cell">{{ product.description|truncatechars:15 }}</td>
        <td class="data-table__cell">{{ product.specifications|truncatechars:15 }}</td>
        <td class="data-table__cell">{{ product.created_at|date:"d/m/Y - g:i a" }}</td>
        <td class="data-table__cell">{{ product.updated_at|date:"d/m/Y - g:i a" }}</td>
        <td class="data-table__cell flex items-center space-x-2">
          <a href="{% url 'management:product_update' pk=product.pk %}" title="Update product" class="btn__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon--sm">
              <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
            </svg>
          </a>
          {% if request.path == "/management/products/" %}
          <form method="POST" action="{% url 'management:product_deactivate' product.id %}">{% csrf_token %}
            <button type="submit" class="btn__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon--sm">
                <path d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z" />
                <path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z" />
                <path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z" />
              </svg>
            </button>
          </form>
          {% endif %}
          {% if request.path != "/management/products/" %}
          <form method="POST" action="{% url 'management:product_activate' product.id %}">{% csrf_token %}
            <button type="submit" class="btn__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon--sm">
                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
              </svg>
            </button>
          </form>
          {% endif %}
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {% else %}
    {% include "components/empty.html" with arg="product" %}
  {% endif %}
</section>

{% endblock %}