{% extends 'management/management.html' %}
{% load static %}
{% block title %}Product{% endblock title %}
{% block content %}
<div class="bg-neutral-800 rounded-xl flex items-center justify-between h-12">
  <div class="flex-none">
    <a href="{% url 'management:product_create' %}" class="hover:bg-neutral-100 focus:outline-none focus:ring-4 focus:ring-sky-500 font-medium rounded-lg px-6 py-2 text-center dark:hover:bg-neutral-700 inline-block">Create new</a>
    <a href="{% url 'management:product_deactivated_list' %}" class="hover:bg-neutral-100 focus:outline-none focus:ring-4 focus:ring-sky-500 font-medium rounded-lg px-6 py-2 text-center dark:hover:bg-neutral-700 inline-block">Deactivated</a>
  </div>
  <div class="flex-none">
    {% include "components/pagination.html" %}
  </div>
</div>
<section class="relative overflow-x-auto rounded-xl mt-4">
  <table class="w-full text-left">
    <thead class="table-head">
      <tr>
        <th scope="col" class="px-6 py-4">ID</th>
        <th scope="col" class="px-6 py-4">IMAGE</th>
        <th scope="col" class="px-6 py-4">STOCK</th>
        <th scope="col" class="px-6 py-4">TITLE</th>
        <th scope="col" class="px-6 py-4">PRICE</th>
        <th scope="col" class="px-6 py-4">FEATURED</th>
        <th scope="col" class="px-6 py-4">SHOW/HIDE</th>
        <th scope="col" class="px-6 py-4">OPTIONS</th>
      </tr>
    </thead>
    {% for product in products %}
    <tbody class="table-body">
      <tr>
        <td class="px-6 py-4">{{ product.id }}</td>
        <td class="px-6 py-4">
          <a href="#" class="cursor-pointer show-image-popup" data-src="{{ product.image.url }}">
            <img src="{{ product.image.url }}" class="rounded" width="25" height="25" alt="{{ product.title }}">
          </a>
        </td>
        <td class="px-6 py-4">{{ product.stock }}</td>
        <td class="px-6 py-4">{{ product.title|truncatechars:50 }}</td>
        <td class="px-6 py-4">${{ product.normal_price }}</td>
        <td class="px-6 py-4">{{ product.featured }}</td>
        <td class="px-6 py-4">{{ product.show_hide }}</td>
        <td class="flex items-center px-6 py-4 space-x-3">
          <a href="{% url 'management:product_update' pk=product.pk %}" class="hover:text-primary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
              <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
            </svg>            
          </a>
          {% if request.path == "/management/products/" %}
          <form method="post" action="{% url 'management:product_deactivate' product.id %}">{% csrf_token %}
            <button type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 hover:text-primary">
                <path d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z" />
                <path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z" />
                <path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z" />
              </svg>              
            </button>
          </form>
          {% endif %}
          {% if request.path != "/management/products/" %}
          <form method="post" action="{% url 'management:product_activate' product.id %}">{% csrf_token %}
            <button type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd" />
              </svg>              
            </button>
          </form>
          {% endif %}
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</section>
<div id="imagePopup" class="fixed inset-0 flex items-center justify-center z-10 hidden">
  <div class="modal-overlay absolute w-full h-full bg-neutral-900 opacity-75"></div>
  <div class="modal-container bg-white w-1/2 md:w-1/3 mx-auto rounded-3xl z-50 overflow-y-auto">
    <div class="modal-content py-4 text-left px-6">
      <span class="modal-close cursor-pointer z-50 absolute top-0 right-0 mt-4 mr-4 text-3xl" id="closeImagePopup">&times;</span>
      <img class="popup-image" id="expandedImage" src="">
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.show-image-popup').on('click', function(e) {
      e.preventDefault();
      var imageUrl = $(this).data('src');
      var modalImg = $('#expandedImage');
      modalImg.attr('src', imageUrl);
      $('#imagePopup').removeClass('hidden');
    });
    $('#closeImagePopup').on('click', function() {
      $('#imagePopup').addClass('hidden');
    });
    $('.modal-overlay').on('click', function() {
      $('#imagePopup').addClass('hidden');
    });
  });
</script>
{% endblock content %}