{% extends 'layouts/base_management.html' %}
{% block title %}Product Form{% endblock title %}
{% block content %}

<!-- Headline -->
<header>
  <h2 class="headline">Create or update product</h2>
</header>

<!-- Product Form -->
<form method="POST" enctype="multipart/form-data" class="space-y-4 pb-4">{% csrf_token %}
  {{ form.non_field_errors }}
  <label class="form__label">
    <span class="type-base--bold">Title</span>
    {{ form.title }}
  </label>
  <div class="flex justify-beetween space-x-4">
    <label class="flex-grow form__label">
      <span class="type-base--bold">Price</span>
      {{ form.normal_price }}
    </label>
    <label class="flex-grow form__label">
      <span class="type-base--bold">Stock</span>
      {{ form.stock }}
    </label>
  </div>
  <div class="flex justify-beetween space-x-4">
    <label class="flex-grow form__label">
      <span class="type-base--bold">Category</span>
      {{ form.category }}
    </label>
    <label class="flex-grow form__label">
      <span class="type-base--bold">Brand</span>
      {{ form.brand }}
    </label>
  </div>
  <div class="flex justify-beetween space-x-4">
    <label class="flex-grow form__label">
      <span class="type-base--bold">Deal</span>
      {{ form.deal }}
    </label>
    <label class="flex-grow form__label">
      <span class="type-base--bold">Warranty</span>
      {{ form.warranty }}
    </label>
  </div>
  <label class="form__label">
    <span class="type-base--bold">Description</span>
    {{ form.description }}
  </label>
  <label class="form__label">
    <span class="type-base--bold">Specifications</span>
    {{ form.specifications }}
  </label>
  <label class="form__label">
    <span class="type-base--bold">Image</span>
    {{ form.image }}
  </label>
  <div class="flex items-center">
    {{ form.show_hide }}
    <label for="{{ form.show_hide.id_for_label }}" class="ml-2">Show/Hide</label>
  </div>
  <div class="flex items-center">
    {{ form.featured }}
    <label for="{{ form.featured.id_for_label }}" class="ml-2">Featured</label>
  </div>
  <div class="form__action">
    <button type="submit" class="btn btn--primary w-full">Save</button>
    <a href="{% url 'management:product_list' %}" title="Cancel" class="btn btn--secondary w-full">Cancel</a>
  </div>
</form>

{% endblock %}