{% extends 'base.html' %}
{% load static %}
{% block title %}Categories{% endblock title %}
{% block content %}
<div class="flex flex-col items-center">
  <h2 class="text-3xl font-bold text-sky-500 mb-4 dark:text-blue-700">Categories</h2>
  <span class="text-sky-500 mb-4 dark:text-white">
    {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }} products
  </span>
</div>
<div class="mx-2">
  <form method="get" class="mb-4">
    <div class="flex space-x-4">
      <div class="flex items-center justify-center w-1/4">{{ form.category }}</div>
      <div class="flex items-center justify-center w-1/4">{{ form.brand }}</div>
      <div class="flex items-center justify-center w-1/4">{{ form.deal }}</div>
      <div class="flex items-center justify-center w-1/4">
        <button type="submit" class="w-full py-2 px-8 bg-sky-500 hover:bg-sky-600 text-white rounded-xl focus:outline-none">
          Apply
        </button>
      </div>
    </div>
    <!-- <div class="flex space-x-4">
      <div class="w-1/3">
        {{ form.min_price }}
      </div>
      <div class="w-1/3">
        {{ form.max_price }}
      </div>
    </div> -->
  </form>
</div>
<div class="flex flex-wrap">
  {% for product in products %}
  {% include "components/card.html" %}
  {% empty %}
  <span>No products match the selected filters.</span>
  {% endfor %}
</div>
{% include "components/pagination.html" %}
{% endblock content %}