{% extends 'base.html' %}
{% load static %}
{% block title %}Categories{% endblock title %}
{% block content %}
<nav class="mt-4">
  <form method="get" class="mb-4">
    <div class="flex space-x-4">
      <div class="flex items-center justify-center w-1/4">{{ form.category }}</div>
      <div class="flex items-center justify-center w-1/4">{{ form.brand }}</div>
      <div class="flex items-center justify-center w-1/4">{{ form.deal }}</div>
      <div class="flex items-center justify-center w-1/4">
        <button type="submit" class="primary-btn w-full">Apply</button>
      </div>
    </div>
    <!-- <div class="flex space-x-4">
      <div class="w-1/3">
        {{ form.min_price }}
      </div>
      <div class="w-1/3">
        {{ form.max_price }}
      </div>
    </div> -->
  </form>
</nav>
<section>
  {% include "fragments/title.html" with title="Categories" %}
  <section class="flex flex-wrap">
    {% for product in products %}
    {% include "components/card.html" %}
    {% empty %}
    <span>No products available.</span>
    {% endfor %}
  </section>
</section>
{% include "components/pagination.html" %}
{% endblock content %}