{% extends 'base.html' %}
{% load static %}
{% block title %}Categories{% endblock title %}
{% block content %}
    <!-- Title -->
    <div class="flex flex-col items-center">
        <h2 class="text-3xl font-bold text-blue-700 mb-4 dark:text-blue-700">Categories</h2>
        <span class="text-blue-700 mb-4 dark:text-white">
            {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }} products
        </span>
    </div>
    
    <!-- Filter Form -->
    <div class="container mx-auto p-4">
        <form method="get" class="mb-8">
            <div class="flex space-x-4">
                <div class="flex items-center justify-center px-4 h-10 w-1/4">
                    {{ form.category }}
                </div>
                <div class="flex items-center justify-center px-4 h-10 w-1/4">
                    {{ form.brand }}
                </div>
                <div class="flex items-center justify-center px-4 h-10 w-1/4">
                    {{ form.deal }}
                </div>
                <div class="flex items-center justify-center px-4 h-10 w-1/4">
                    <button type="submit" class="bg-blue-700 text-white py-2 px-8 rounded-lg hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 focus:outline-none">Apply</button>
                </div>
            </div>
            <!--
            <div class="flex space-x-4">
                <div class="w-1/3">
                    {{ form.min_price }}
                </div>
                <div class="w-1/3">
                    {{ form.max_price }}
                </div>
            </div>
            -->
        </form>
    </div>

    <!-- Content -->
    <div class="flex flex-wrap -mx-2 sm:-mx-4 md:-mx-4 lg:-mx-4">
        {% for product in products %}
        <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/6 px-2 sm:px-4 md:px-4 lg:px-4 mb-4">
            <div class="w-full max-w-xs border border-gray-200 rounded-lg shadow bg-white dark:bg-gray-800 dark:border-gray-700">
                <a href="{% url 'product_detail' product.pk %}">
                    <img class="w-full h-auto rounded-t-lg" src="{{ product.image.url }}" alt="product image" />
                </a>
                <div class="p-4">
                    <div class="flex justify-between items-start mt-2 mb-2">
                        <a href="{% url 'product_detail' product.pk %}">
                            <h2 class="text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                {{ product.title|truncatechars:50 }}
                            </h2>
                        </a>
                    </div>
                    <div class="flex justify-between items-center mt-2 mb-2">
                        <div class="ml-0">
                            <a href="{% url 'brand' brand_name=product.brand.name %}" class="font-medium text-gray-400 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-600">{{ product.brand.name }}</a>
                        </div>
                        <div class="mr-0">
                            <a href="{% url 'wishlist:add' product.id %}" class="font-medium text-gray-400 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-600">Fav</a>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-sm font-bold text-gray-900 dark:text-white">${{ product.normal_price }}</span>
                        <a href="{% url 'cart:add' product.id %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-2 text-center dark:bg-blue-600 dark:hover-bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <h2 class="text-3xl font-bold text-blue-700 mb-4 dark:text-white">No products match the selected filters.</h2>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="flex flex-col items-center my-8">
        <nav aria-label="Page navigation example">
            <ul class="flex items-center -space-x-px h-10 text-base">
                <!-- Prev -->
                <li>
                <a href="?page=1" class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class="sr-only">Previous</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                    </svg>
                </a>
                </li>
                <!-- Numbers -->
                {% for page in page_obj.paginator.page_range %}
                <li>
                <a href="?page={{ page }}" class="flex items-center justify-center px-4 h-10 leading-tight 
                    {% if page_obj.number == page %}
                    text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white
                    {% else %}
                    text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
                    {% endif %}">
                    {{ page }}
                </a>
                </li>
                {% endfor %}
                <!-- Next -->
                <li>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                    <span class="sr-only">Next</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}