{% extends 'base.html' %}
{% load static %}
{% block title %}Deals{% endblock title %}
{% block content %}
<main>
  {% include "fragments/title.html" with title="Deals" %}
  <section class="grid gap-4 grid-cols-1 md:grid-cols-2">
    {% for deal in deals %}
      {% if deal.image %}
      <a href="{% url 'products:deal_detail' slug=deal.slug %}">
        <img src="{{ deal.image.url }}" title="{{ deal.name }}" alt="{{ deal.name }}" class="cs-rounded">
      </a>
      {% else %}
      <span>NO IMAGE</span>
      {% endif %}
    {% empty %}
    <span>No products available.</span>
    {% endfor %}
  </section>
</main>
{% endblock %}