{% extends 'base.html' %}
{% load static %}
{% block title %}{{ deal.name }}{% endblock title %}
{% block content %}
<main>
  <header class="my-4">
    <h1 class="headline-1">{{ deal.name }}</h1>
  </header>
  <section class="box pt-4">
    <figure class="mx-4">
      <img src="{{ deal.image.url }}" alt="{{ deal.name }}" class="w-full cs-rounded">
      <p>{{ deal.description }}</p>
    </figure>
    <section class="card-grid">
      {% for product in products %}
        {% include "components/card.html" %}
      {% empty %}
        {% include "components/empty.html" %}
      {% endfor %}
    </section>
  </section>
</main>
{% endblock %}