{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.title|truncatechars:25 }}{% endblock title %}
{% block content %}
<div class="max-w-screen-xl mx-auto p-4">
  <div class="border border-gray-200 rounded-3xl bg-white dark:bg-neutral-800 dark:border-neutral-700 p-4 grid grid-cols-1 lg:grid-cols-2 gap-8">
    <div class="w-96 h-96">
      <img src="{{ product.image.url }}" alt="{{ product.title }}" class="border border-gray-200 dark:border-neutral-700 rounded-3xl">
    </div>
    <div>
      <h1 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ product.title }}</h1>
      <span class="text-gray-600 mb-2">Details</span>
      <ul class="mb-4 dark:text-white">
        <li>
          <a href="{% url 'products:brand_filter' brand_name=product.brand.name %}" class="font-medium text-gray-400 dark:text-gray-400 hover:text-sky-500 dark:hover:text-blue-600">{{ product.brand.name }}</a>
        </li>
        <li>
          <a href="{% url 'products:category_filter' category_title=product.category.title %}" class="font-medium text-gray-400 dark:text-gray-400 hover:text-sky-500 dark:hover:text-blue-600">{{ product.category.title }}</a>
        </li>
        <li>ID: item-{{ product.id }}</li>
        <li>Category: {{ product.category.title }}</li>
        <li>Stock: {{ product.stock }}</li>
        <li>Warranty: {{ product.get_warranty_display }}</li>
        <div class="flex items-center justify-between">
          <span class="text-3xl font-bold text-gray-900 dark:text-white">${{ product.normal_price }}</span>
          {% if product.deal %}
          <span class="text-3xl font-bold text-gray-900 dark:text-white">${{ product.price_with_discount|floatformat:2 }}</span>
          <span class="text-3xl font-bold text-gray-900 dark:text-white">{{ product.deal.discount|floatformat:0 }}%</span>
          {% endif %}
        </div>
      </ul>
      <div class="space-x-2">
        <a href="{% url 'users:add_prod_to_cart' product.id %}" class="bg-sky-500 text-white px-4 py-2 rounded-3xl hover:bg-sky-800">Add to Cart</a>
        <a href="{% url 'users:add_prod_to_wishlist' product.id %}" class="bg-sky-500 text-white px-4 py-2 rounded-3xl hover:bg-sky-800">Add to Wishlist</a>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <ul class="flex" id="product-tabs">
      <li class="-mb-px mr-1">
        <a class="border border-gray-200 bg-white rounded-3xl py-2 px-4 text-sky-500 hover:text-gray-700 font-semibold dark:bg-neutral-800 dark:text-white dark:border-neutral-700" href="#description-tab">
          Description
        </a>
      </li>
      <li class="mr-1">
        <a class="border border-gray-200 bg-white rounded-3xl py-2 px-4 text-sky-500 hover:text-gray-700 font-semibold dark:bg-neutral-800 dark:text-white dark:border-neutral-700" href="#specifications-tab">
          Specifications
        </a>
      </li>
    </ul>
    <div class="border border-gray-200 rounded-3xl bg-white dark:bg-neutral-800 dark:border-neutral-700 p-4 mt-4">
      <div id="description-tab" class="tab-content">
        <h2 class="text-2xl font-semibold mb-4 dark:text-white">Description</h2>
        <div class="dark:text-white">{{ product.description | safe }}</div>
      </div>
      <div id="specifications-tab" class="tab-content hidden">
        <h2 class="text-2xl font-semibold mb-4 dark:text-white">Specifications</h2>
        <div class="dark:text-white">{{ product.specifications | safe }}</div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#product-tabs a").click(function (e) {
      e.preventDefault();
      $(".tab-content").addClass("hidden");
      $($(this).attr("href")).removeClass("hidden");
    });
  });
</script>
{% endblock content %}