{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title|title }}{% endblock title %}
{% block content %}
<main class="space-y-4">
  <!-- HEADLINE -->
  <header class="my-4">
    <div class="flex items-center justify-between">
      <div class="flex space-x-4 items-center">
        {% if title and "search=" not in request.get_full_path %}
        <h1 class="headline-1">{{ title }}</h1>
        {% endif %}
        {% if results %}
        <h1 class="headline-1">{{ results }} results</h1>
        <span class="bold text-primary">for "{{ title }}"</span>
        {% endif %}
        {% if page_obj.paginator.count > 0 %}
        <span class="bold">
          {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }} products
        </span>
        {% endif %}
      </div>
      <div class="hidden">
        <a href="#" class="btn-secondary">
          View all
        </a>
      </div>
    </div>
  </header>
  <!-- CATEGORIES -->
  {% if form %}
  <nav class="box p-2">
    <form method="GET" class="space-y-2 md:space-y-0 md:flex md:items-center md:space-x-4">
      <div class="w-full lg:w-1/4">{{ form.category }}</div>
      <div class="w-full lg:w-1/4">{{ form.brand }}</div>
      <div class="w-full lg:w-1/4">{{ form.deal }}</div>
      <!--<div class="w-1/3">{{ form.min_price }}</div>
      <div class="w-1/3">{{ form.max_price }}</div>-->
      <button type="submit" class="btn-primary w-full lg:w-1/4">Apply</button>
    </form>
  </nav>
  {% endif %}
  <!-- PRODUCT LIST -->
  <section class="card-grid">
    {% for product in products %}
      {% include "components/card.html" %}
    {% endfor %}
  </section>
  <!-- EMPTY LIST -->
  {% if products|length == 0 %}
    {% include "components/empty.html" with arg="product" %}
  {% endif %}
  <!-- PAGINATION -->
  {% include "components/pagination.html" %}
</main>
{% endblock %}