{% extends 'base.html' %}{% load static %}
{% block title %}{{ product.title|truncatechars:25 }}{% endblock title %}
{% block content %}
<main>
  <!-- ROUTES -->
  {% include "components/routes.html" %}

  <!-- PRODUCT DETAIL -->
  <section class="detail-wrap">
    <figure class="zoomable-container overflow-hidden cs-rounded cursor-copy">
      <div class="zoomable-wrapper flex items-center justify-center bg-white h-full">
        <img src="{{ product.image.url }}" title="{{ product.title }}" alt="{{ product.title }}" class="w-96 zoomable">
      </div>
    </figure>
    <article class="flex flex-col h-full space-y-4">
      <a href="{% url 'products:brand_filter' brand_slug=product.brand.slug %}" title="{{ product.brand.name }} products" class="link">
        Shop all {{ product.brand.name }}
      </a>
      <header class="detail-header">
        <h1 class="headline-1">{{ product.title }}{% if product.is_new %}<span class="tag-detail">New</span>{% endif %}</h1>
      </header>
      <div>
        {% if product.sale_price %}
        <span class="price-sp">${{ product.sale_price }}</span>
        <span class="price-sp-2">${{ product.normal_price }}</span>
        <span class="price-d">-{{ product.deal.discount|floatformat:0 }}%</span>
        <span class="price-d">Savings $500</span>
        {% else %}
        <span class="price-np">${{ product.normal_price }}</span>
        {% endif %}
      </div>
      <div>
        <h3 class="headline-2">Details</h3>
        <p><span class="bold">ID:</span> {{ product.id }}</p>
        <p><span class="bold">Stock:</span> {{ product.stock }}</p>
        <p><span class="bold">Warranty:</span> {{ product.get_warranty_display }}</p>
      </div>
      <div class="mt-auto grid gap-2 grid-cols-4">
        <a href="{% url 'payment:checkout' product.id %}" class="btn-primary col-span-4 flex items-center px-auto">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-sm mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span class="flex-item">Buy Now</span>
        </a>
        <a href="{% url 'cart:add_prod_cart' product.id %}" class="btn-secondary col-span-3">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon-sm mr-2">
            <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
          </svg>
          <span class="flex-item">Add to Cart</span>
        </a>
        <a href="{% url 'cart:add_prod_wishlist' product.id %}" class="btn-tertiary">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon-sm mr-2">
            <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"/>
          </svg>
          <span class="flex-item hidden">Add to wishlist</span>
        </a>
      </div>
      <div class="text-center space-x-2">
        <span class="small-link">Terms and Conditions</span>
        <span class="small-link">Policy Privacy</span>
        <span class="small-link">Available payment methods</span>
      </div>
    </article>
  </section>

  <!-- DESCRIPTION AND SPECIFICATIONS -->
  <aside class="mt-4">
    <nav class="flex space-x-4" id="product-tabs">
      <a href="#description-tab" class="detail-nav">Description</a>
      <a href="#specifications-tab" class="detail-nav">Specifications</a>
    </nav>
    <section class="box p-8 mt-4">
      <article id="description-tab" class="tab-content">
        <h3 class="headline-2">Description</h3>
        <p>{{ product.description|safe }}</p>
      </article>
      <article id="specifications-tab" class="tab-content hidden">
        <h3 class="headline-2">Specifications</h3>
        <p class="leading-loose">{{ product.specifications|safe }}</p>
      </article>
    </section>
  </aside>

  <!-- FEATURED PRODUCTS -->
  <header class="my-4">
    <h2 class="headline-1">Featured products</h2>
  </header>
  {% if featured_products %}
  <section class="card-grid">
    {% for product in featured_products %}
      {% include "components/card.html" %}
    {% endfor %}
  </section>
  {% endif %}
  {% if featured_products|length == 0 %}
    {% include "components/empty.html" with arg="product" %}
  {% endif %}
</main>
{% endblock %}