{% extends 'base.html' %}

{% block title %}{{ product.title|truncatechars:25 }}{% endblock title %}

{% block content %}
<main>

  <!-- ROUTES -->
  {% include "components/routes.html" %}

  <!-- PRODUCT DETAIL -->
  <section class="detail-wrap">
    <figure class="zoomable-container overflow-hidden cs-rounded cursor-copy">
      <div class="zoomable-wrapper flex items-center justify-center bg-white h-full">
        <img src="{{ product.image.url }}" title="{{ product.title }}" alt="{{ product.title }}" class="w-96 zoomable">
      </div>
    </figure>
    <article class="flex flex-col h-full space-y-4">
      <a href="{% url 'products:brand_filter' brand_slug=product.brand.slug %}" title="{{ product.brand.name }} products" class="link">
        Shop all {{ product.brand.name }}
      </a>
      <header class="detail-header">
        <h2 class="headline">{{ product.title }}{% if product.is_new %}<span class="tag-detail">New</span>{% endif %}</h2>
      </header>
      <div>
        {% if product.sale_price %}
        <span class="price-sp">${{ product.sale_price }}</span>
        <span class="price-sp-2">${{ product.normal_price }}</span>
        <span class="price-d">-{{ product.deal.discount|floatformat:0 }}%</span>
        <span class="price-d">Savings $500</span>
        {% else %}
        <span class="price-np">${{ product.normal_price }}</span>
        {% endif %}
      </div>
      <div>
        <h3 class="subheadline">Details</h3>
        <p><span class="bold">ID:</span> {{ product.id }}</p>
        <p><span class="bold">Stock:</span> {{ product.stock }}</p>
        <p><span class="bold">Warranty:</span> {{ product.get_warranty_display }}</p>
      </div>
      <div class="bg-light flex items-center space-x-4 cs-rounded py-2 px-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-md">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
        </svg>
        <span class="small">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, modi natus ipsa accusantium minima illo esse eligendi. Neque a
        </span>
      </div>
      <div class="mt-auto flex flex-col space-y-2">
        <a href="{% url 'payment:checkout' product.id %}" class="btn-primary col-span-4 flex items-center px-auto">
          <span class="flex-item">Buy Now</span>
        </a>
        <a href="{% url 'cart:add_prod_cart' product.id %}" class="btn-secondary">
          Add to Cart
        </a>
        <a href="{% url 'cart:add_prod_wishlist' product.id %}" class="btn-tertiary">
          Add to wishlist
        </a>
      </div>
      <div class="text-center space-x-2">
        <span ></span>
        <a href="{% url 'home:page_detail' key='terms' %}" class="small-link">Terms and Conditions</a>
        <a href="{% url 'home:page_detail' key='privacy' %}" class="small-link">Policy Privacy</a>
        <a href="#" class="small-link">Available payment methods</a>
      </div>
    </article>
  </section>

  <!-- DESCRIPTION AND SPECIFICATIONS -->
  <aside class="mt-4">
    <nav class="flex space-x-4" id="product-tabs">
      <a href="#description-tab" class="detail-nav">Description</a>
      <a href="#specifications-tab" class="detail-nav">Specifications</a>
    </nav>
    <section class="box p-8 mt-4">
      <article id="description-tab" class="tab-content">
        <h3 class="subheadline">Description</h3>
        <p>{{ product.description|safe }}</p>
      </article>
      <article id="specifications-tab" class="tab-content hidden">
        <h3 class="subheadline">Specifications</h3>
        <p class="leading-loose">{{ product.specifications|safe }}</p>
      </article>
    </section>
  </aside>

  <!-- FEATURED PRODUCTS -->
  <section>
    <header class="my-4">
      <h2 class="headline">Featured products</h2>
    </header>
    {% if featured_products %}
    <section class="card-grid">
      {% for product in featured_products %}
        {% include "components/card.html" %}
      {% endfor %}
    </section>
    {% endif %}
    {% if featured_products|length == 0 %}
      {% include "components/empty.html" with arg="product" %}
    {% endif %}
  </section>

</main>
{% endblock %}