{% extends 'base.html' %}
{% load static %}
{% block title %}Recent{% endblock title %}
{% block content %}
<section>
  {% include "fragments/title.html" with title="Recent Products" %}
  <div class="flex flex-wrap">
    {% for product in products %}
    {% include "components/card.html" %}
    {% empty %}
    <span>No products available.</span>
    {% endfor %}
  </div>
</section>
<nav class="flex flex-col items-center">
  {% include "components/pagination.html" %}
</nav>
{% endblock content %}