{% extends 'base.html' %}
{% load static %}
{% block title %}{{ queryset|title }}{% endblock title %}
{% block content %}
<!-- Title -->
<div class="flex flex-col items-center my-8">
    <h2 class="text-3xl font-bold text-gray-900 dark:text-white">Search "{{ queryset }}"</h2>
</div>
<!-- Product cards -->
<div class="flex flex-wrap -mx-2 sm:-mx-4 md:-mx-4 lg:-mx-4">
    {% for product in products %}
    {% include "components/card.html" %}
    {% empty %}
    <h2 class="text-3xl font-bold text-blue-700 mb-4 dark:text-white">No products match the selected filters.</h2>
    {% endfor %}
</div>
{% endblock %}