<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Inicio</title>
</head>
<body class="bg-gray-300 px-8">
    <section class="grid grid-cols-6 gap-4">
        <div class="p-2 bg-white hover:bg-red-200 rounded-lg">
            <img src="https://target.scene7.com/is/image/Target/GUEST_86cab06e-b98c-4afb-8383-c2e2e7c30f78?wid=1000&hei=1000&fit=constrain&qlt=80&fmt=webp" class="rounded-lg" alt="Producto">

            <a href="#" aria-label="Beats Solo³ Bluetooth Wireless On-Ear Headphones " class"" data-test="product-title">Beats Solo³ Bluetooth Wireless On-Ear Headphones </a>

            <h2>Nombre del Producto</h2>
            
            <span data-test="current-price">233</span>
        </div>

        <div>
            <img src="https://target.scene7.com/is/image/Target/GUEST_86cab06e-b98c-4afb-8383-c2e2e7c30f78?wid=1000&hei=1000&fit=constrain&qlt=80&fmt=webp" alt="Producto">

            <a href="#" aria-label="Beats Solo³ Bluetooth Wireless On-Ear Headphones " class"" data-test="product-title">Beats Solo³ Bluetooth Wireless On-Ear Headphones </a>

            <h2>Nombre del Producto</h2>
            
            <span data-test="current-price">233</span>
        </div>

        <div>
            <img src="https://target.scene7.com/is/image/Target/GUEST_86cab06e-b98c-4afb-8383-c2e2e7c30f78?wid=1000&hei=1000&fit=constrain&qlt=80&fmt=webp" alt="Producto">

            <a href="#" aria-label="Beats Solo³ Bluetooth Wireless On-Ear Headphones " class"" data-test="product-title">Beats Solo³ Bluetooth Wireless On-Ear Headphones </a>

            <h2>Nombre del Producto</h2>
            
            <span data-test="current-price">233</span>
        </div>

        <div>
            <img src="https://target.scene7.com/is/image/Target/GUEST_86cab06e-b98c-4afb-8383-c2e2e7c30f78?wid=1000&hei=1000&fit=constrain&qlt=80&fmt=webp" alt="Producto">

            <a href="#" aria-label="Beats Solo³ Bluetooth Wireless On-Ear Headphones " class"" data-test="product-title">Beats Solo³ Bluetooth Wireless On-Ear Headphones </a>

            <h2>Nombre del Producto</h2>
            
            <span data-test="current-price">233</span>
        </div>

        <div>
            <img src="https://target.scene7.com/is/image/Target/GUEST_86cab06e-b98c-4afb-8383-c2e2e7c30f78?wid=1000&hei=1000&fit=constrain&qlt=80&fmt=webp" alt="Producto">

            <a href="#" aria-label="Beats Solo³ Bluetooth Wireless On-Ear Headphones " class"" data-test="product-title">Beats Solo³ Bluetooth Wireless On-Ear Headphones </a>

            <h2>Nombre del Producto</h2>
            
            <span data-test="current-price">233</span>
        </div>

        <div>
            <img src="https://target.scene7.com/is/image/Target/GUEST_86cab06e-b98c-4afb-8383-c2e2e7c30f78?wid=1000&hei=1000&fit=constrain&qlt=80&fmt=webp" alt="Producto">

            <a href="#" aria-label="Beats Solo³ Bluetooth Wireless On-Ear Headphones " class"" data-test="product-title">Beats Solo³ Bluetooth Wireless On-Ear Headphones </a>

            <h2>Nombre del Producto</h2>
            
            <span data-test="current-price">233</span>
        </div>
    </section>
</body>
</html>