{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4285f4">
    {% tailwind_css %}
    <title>New Store | {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/icon.ico' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-gray-100 dark:bg-neutral-900 mx-16">
    {% include "components/navbar.html" %}
    {% include "components/header.html" %}
    {% block content %}{% endblock content %}
    {% include "components/footer.html" %}
</body>
</html>