{% load static %}
<article class="product-card__wrapper group">
  {% if product.is_new %}<span class="tag tag__absolute">New</span>{% endif %}
  <a href="{% url 'products:detail' product.pk %}" title="{{ product.title }}">
    {% if product.image %}
    <img class="product-card__img" src="{{ product.image.url }}" title="{{ product.title }}" alt="{{ product.title|lower }}" />
    {% else %}
    <img class="product-card__img" src="{% static 'img/default-image-front.webp' %}" title="{{ product.title }}" alt="{{ product.title|lower }}" />
    {% endif %}
  </a>
  <div class="product-card__content">
    <div>
      {% if product.sale_price %}
      <span class="type-base--bold">${{ product.sale_price }}</span>
      <span class="type-small line-through">${{ product.normal_price }}</span>
      {% else %}
      <span class="type-base--bold">${{ product.normal_price }}</span>
      {% endif %}
    </div>
    <div>
      <a href="{% url 'cart:add_prod_wishlist' product.id %}" title="Add to wishlist" aria-label="Add to wishlist" class="invisible group-hover:visible">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon--sm">
          <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
        </svg>
      </a>
    </div>
  </div>
  <div class="product-card__title">
    <a href="{% url 'products:detail' product.pk %}" title="{{ product.title }}">
      <span class="group-hover:underline line-clamp-2">{{ product.title|truncatechars:50 }}</span>
    </a>
  </div>
  <a href="{% url 'cart:add_prod_cart' product.id %}" title="Add to cart" class="btn btn--secondary group-hover:btn group-hover:btn--primary">
    Add to cart
  </a>
</article>