{% load static %}
{% load static tailwind_tags %}
        <div class="w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6 px-2 mb-4">
            <div class="w-full max-w-xs border border-gray-200 rounded-3xl bg-white dark:bg-neutral-800 dark:border-neutral-700 relative">
                <!-- Discount -->
                {% if product.deal %}
                <div class="absolute top-0 right-0 mr-2 mt-2 bg-sky-500 text-white text-xs font-bold p-2 rounded-full">
                    {{ product.deal.discount|floatformat:0 }}%
                </div>
                {% endif %}
                <!-- Image -->
                <a href="{% url 'products:detail' product.pk %}">
                    <img class="w-full h-auto rounded-3xl" src="{{ product.image.url }}" alt="{{ product.title|lower|slugify }}" />
                </a>
                <!-- Box -->
                <div class="p-2 sm:p-4 md:p-4 lg:p-4">
                    <div class="h-20 w-auto overflow-hidden">
                        <a href="{% url 'products:detail' product.pk %}">
                            <h2 class="text-base font-semibold tracking-tight text-gray-900 dark:text-white">
                                {{ product.title|truncatechars:50 }}
                            </h2>
                        </a>
                    </div>
                    <div class="flex justify-between items-center">
                        <div class="ml-0">
                            <a href="{% url 'products:brands' brand_name=product.brand.name %}" class="font-medium text-gray-400 dark:text-gray-400 hover:text-sky-500 dark:hover:text-sky-500">{{ product.brand.name }}</a>
                        </div>
                        <div class="mr-0">
                            <a href="{% url 'wishlist:add' product.id %}" class="font-medium text-gray-400 dark:text-gray-400 hover:text-sky-500 dark:hover:text-sky-500">Fav</a>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <span class="text-sm font-bold text-gray-900 dark:text-white">${{ product.normal_price }}</span>
                        {% if product.deal %}
                        <span class="text-sm font-bold text-gray-900 dark:text-white">${{ product.price_with_discount|floatformat:2 }}</span>
                        {% endif %}
                    </div>
                    <!-- Buttom -->
                    <div class="p-2 text-center">
                        <a href="{% url 'cart:add' product.id %}" class="block w-full text-white bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-neutral-200 font-medium rounded-3xl text-xs px-3 py-2 dark:bg-sky-500 dark:hover:bg-sky-600 dark:focus:ring-neutral-700">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>