<article>
  <div class="box w-full h-64 flex items-center justify-center">
    <div class="space-y-4">
      <!-- CART TITLE -->
      {% if arg == "cart" %}
      <div class="flex items-center justify-center space-x-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-md">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
        </svg>
        <h2 class="headline-1">Your cart is empty</h2>
      </div>
      <p class="text-center">Check out what we're featuring now!</p>
      <a href="{% url 'home:index' %}" class="btn-primary">Go to Homepage</a>
      {% endif %}
      <!-- WISHLIST TITLE -->
      {% if arg == "wishlist" %}
      <div class="flex items-center justify-center space-x-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
        </svg>
        <h2 class="headline-1">Save your items for later</h2>
      </div>
      <p class="text-center">If you aren't ready to buy, select Save for later. We'll keep the item safe here.</p>
      {% endif %}
      <!-- PRODUCT TITLE -->
      {% if arg == "product" %}
      <div class="flex items-center justify-center space-x-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
        </svg>        
        <h2 class="headline-1">No products available</h2>
      </div>
      <p class="text-center">Come back soon to discover new additions!</p>
      {% endif %}
      <!-- DEAL TITLE -->
      {% if arg == "deal" %}
      <div class="flex items-center justify-center space-x-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
        </svg>
        <h2 class="headline-1">No deals available currently</h2>
      </div>
      <p class="text-center">We're working to bring you new deals soon!</p>
      {% endif %}
    </div>
  </div>
</article>