{% load static %}
<div class="box p-4 flex justify-center mt-4">
    <ul class="grid gap-4 grid-cols-6">
        <li>
            <a href="">
                <img src="{% static 'img/featured.webp' %}" title="" class="rounded-full" width="200" height="200" alt="temp">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{% static 'img/featured.webp' %}" title="" class="rounded-full" width="200" height="200" alt="temp">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{% static 'img/featured.webp' %}" title="" class="rounded-full" width="200" height="200" alt="temp">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{% static 'img/featured.webp' %}" title="" class="rounded-full" width="200" height="200" alt="temp">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{% static 'img/featured.webp' %}" title="" class="rounded-full" width="200" height="200" alt="temp">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{% static 'img/featured.webp' %}" title="" class="rounded-full" width="200" height="200" alt="temp">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{% static 'img/featured.webp' %}" title="" class="rounded-full" width="200" height="200" alt="temp">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{% static 'img/featured.webp' %}" title="" class="rounded-full" width="200" height="200" alt="temp">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{% static 'img/featured.webp' %}" title="" class="rounded-full" width="200" height="200" alt="temp">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{% static 'img/featured.webp' %}" title="" class="rounded-full" width="200" height="200" alt="temp">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{% static 'img/featured.webp' %}" title="" class="rounded-full" width="200" height="200" alt="temp">
            </a>
        </li>
        <li>
            <a href="">
                <img src="{% static 'img/featured.webp' %}" title="" class="rounded-full" width="200" height="200" alt="temp">
            </a>
        </li>
    </ul>
</div>