<header class="navbar-wrap">
  <nav>
    <!-- LOGO AND CATEGORIES -->
    <div class="w-1/2 sm:w-1/4 order-1 flex items-center space-x-4 mb-4 md:mb-0">
      <h1>
        <a href="{% url 'home:index' %}" class="flex items-center space-x-4 sm:pb-0">
          <img src="{{ company.logo.url }}" alt="{{ company.name }}" class="icon-md"/>
          <span class="headline-2 hidden xl:block">
            {{ company.name|default:'Company' }}
          </span>
        </a>
      </h1>
      <div class="hidden md:block relative" id="dropdownContainer">
        <button data-dropdown-toggle="dropdown" class="btn-tertiary w-32" type="button">
          Categories
        </button>
        <div id="dropdown" class="absolute justify-center hidden z-10 box cs-shadow w-44 overflow-hidden">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
              <li>
                <a href="{% url 'products:categories' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Categories</a>
              </li>
              <li>
                <a href="{% url 'products:deal_list' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Deals</a>
              </li>
              <li>
                <a href="{% url 'products:recent' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Recent prods</a>
              </li>
              {% if user.is_superuser %}
              <li>
                <a href="{% url 'admin:index' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Admin</a>
              </li>
              <li>
                <a href="{% url 'management:management' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Management</a>
              </li>
              {% endif %}
            </ul>
        </div>
      </div>
    </div>

    <!-- SEARCH BAR -->
    <div class="order-3 sm:order-2 w-full lg:max-w-lg sm:w-1/2 mx-auto sm:mx-0">
      <div class="relative">
        <form method="GET" action="{% url 'products:search' %}">
          <input type="search" id="search-navbar"
            class="form-text text-center bg-white"
            placeholder="What are you looking for?" name="search" value="{{ request.GET.search }}">
          <div class="absolute rounded-full inset-y-0 left-0 p-4 flex items-center pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-sm">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
          </div>
        </form>
      </div>
    </div>

    <!-- BUTTONS (CART, USER, SIGN UP SIGN IN) -->
    <div class="w-1/2 sm:w-1/4 order-2 sm:order-3 flex items-center justify-end space-x-4 relative group">
      {% if user.is_authenticated %}
      <!-- CART -->
      <div class="hidden lg:block">
        <a href="{% url 'cart:cart' %}" title="Cart" class="btn-tertiary">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-md">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
        </a>
      </div>
      <!-- USER -->
      <div class="hidden lg:block relative" id="userWrapper">
        <button data-dropdown-toggle="userList" class="btn-tertiary" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-md">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
          </svg>
        </button>
        <div id="userList" class="absolute hidden right-0 z-10 box cs-shadow w-44 overflow-hidden">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
              <li>
                <span class="bold block px-4 py-2">{{ user.first_name }} {{ user.last_name }}</span>
              </li>
              <li>
                <a href="{% url 'users:password_change' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Change password</a>
              </li>
              <li>
                <a href="{% url 'users:logout' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Log out</a>
              </li>
            </ul>
        </div>
      </div>
      {% else %}
      <div class="hidden sm:block">
        <div class="flex space-x-4">
          <a href="{% url 'users:login' %}" class="btn-secondary">Login</a>
          <a href="{% url 'users:registration' %}" class="btn-primary">Sign Up</a>
        </div>
      </div>
      {% endif %}

      <!-- MAIN MENU (MOBILE) -->
      <div class="w-1/2 sm:w-1/4 order-2 lg:order-3 flex items-center justify-end space-x-4 lg:hidden mb-4 md:mb-0">
        <button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center justify-center" aria-controls="navbar-search" aria-expanded="false">
          <svg class="icon-md" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
        <div class="absolute right-0 w-1/2 top-0 hidden" id="navbar-search">
          <ul class="p-4 mt-4 h-screen box">
            <li>
              <a href="#" class="block py-2 px-3" aria-current="page">Home</a>
            </li>
            <li>
              <a href="#" class="block py-2 px-3" aria-current="page">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>