{% load static %}
{% load static tailwind_tags %}
<div class="flex items-center justify-center bg-white dark:bg-neutral-800 rounded-xl mx-2" id="navbar-sticky">
  <ul class="flex flex-row p-0 space-x-1 border-0">
    <li>
        <a href="{% url 'products:categories' %}" class="block py-2 pl-3 pr-4 hover:bg-neutral-700 rounded-xl" aria-current="page">
          Categories
        </a>
    </li>
    <li>
      <a href="{% url 'products:deal_list' %}" class="block py-2 pl-3 pr-4 hover:bg-neutral-700 rounded-xl">
        Deals
      </a>
    </li>
    <li>
      <a href="{% url 'products:recent' %}" class="block py-2 pl-3 pr-4 hover:bg-neutral-700 rounded-xl">
        Recent
      </a>
    </li>
    <li>
      <a href="{% url 'home:page_detail' key='delivery' %}" class="block py-2 pl-3 pr-4 hover:bg-neutral-700 rounded-xl">
        Delivery
      </a>
    </li>
    {% if user.is_superuser %}
    <li>
      <a href="{% url 'management:management' %}" class="block py-2 pl-3 pr-4 hover:bg-neutral-700 rounded-xl">
        Management
      </a>
    </li>
    {% endif %}
  </ul>
</div>