{% load static %}
<nav class="bg-neutral-100 dark:bg-neutral-900 sticky top-0 z-10 rounded-b-xl">
  <div class="flex flex-wrap items-center justify-between py-4">
    <a href="{% url 'home:index' %}" class="flex items-center">
      <img src="{% static 'icon/logo.svg' %}" class="h-8 mr-3" alt="new-store-logo" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap text-sky-500 hidden md:block">
        New Store
      </span>
    </a>
    <div class="flex-grow md:order-1 px-12">
      <div class="relative">
        <form method="get" action="{% url 'products:search' %}">
          <input type="search" id="search-navbar"
            class="w-full p-2 pl-10 text-center text-sm placeholder:text-neutral-800 rounded-xl bg-white dark:bg-neutral-800 dark:placeholder-neutral-200 border-hidden"
            placeholder="What are you looking for?" name="search" value="{{ request.GET.search }}">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
            <span class="sr-only">Search icon</span>
          </div>
        </form>
      </div>
    </div>
    {% if user.is_authenticated %}
    <div class="flex items-center md:order-2 relative group">
      <a href="{% url 'users:cart' %}" class="dark:hover:bg-neutral-800 p-2 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
        </svg>        
      </a>
      <button type="button" class="flex dark:hover:bg-neutral-800 p-2 rounded-full"
        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom-start">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
        </svg>
      </button>
      <div class="z-50 absolute left-1/2 transform -translate-x-1/2 -ml-16 top-full hidden mt-2 list-non divide-y divide-gray-100 rounded-xl shadow-xl dark:bg-neutral-800 dark:divide-gray-600" id="user-dropdown">
        <div class="px-4 py-3">
          <span class="block">{{ user.first_name }} {{ user.last_name }}</span>
          <span class="block truncate">{{ user.email }}</span>
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <a href="{% url 'users:profile' %}"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover-bg-gray-600">Profile</a>
          </li>
          <li>
            <a href="{% url 'users:cart' %}"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover-bg-gray-600">Cart</a>
          </li>
          <li>
            <a href="{% url 'users:wishlist' %}"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover-bg-gray-600">Wishlist</a>
          </li>
          <li>
            <a href="{% url 'users:logout' %}"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover-bg-gray-600">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    {% else %}
    <div class="flex items-center md:order-2 relative group">
      <a href="{% url 'users:login' %}" class="hover:bg-white focus:ring-4 focus:ring-gray-300 font-medium rounded-xl px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:hover:bg-neutral-800 focus:outline-none dark:focus:ring-neutral-700">Login</a>
      <a href="{% url 'users:registration' %}" class="text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-xl px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 bg-sky-500 hover:bg-sky-600 focus:outline-none dark:focus:ring-neutral-700">Sign Up</a>
    </div>
    {% endif %}
  </div>
</nav>
<script>
  $(document).ready(function () {
    $("#user-menu-button").on("click", function () {
      var $userDropdown = $("#user-dropdown");
      if ($userDropdown.is(":hidden")) {
        $userDropdown.slideDown("fast");
      } else {
        $userDropdown.slideUp("fast");
      }
    });
  });
</script>