{% if page_obj.paginator.num_pages > 2 %}
<nav class="pagination-wrapper">
  <!-- FIRST PAGE -->
  {% if page_obj.paginator.num_pages > 5 and page_obj.has_previous %}
  <a href="?page=1" title="Firt page" class="pagination-item">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
      <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
    </svg>
  </a>
  {% endif %}
  <!-- PREVIUS PAGE -->
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}" title="Previus page" class="pagination-item">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
    </svg>
  </a>
  {% endif %}
  <!-- CURRENT AND TOTAL PAGES -->
  {% for page in page_obj.paginator.page_range %}
  <a href="?page={{ page }}" title="Current page"
    class="{% if page_obj.number == page %}pagination-item-active{% else %}pagination-item{% endif %}">
    {{ page }}
  </a>
  {% endfor %}
  <!-- NEXT PAGE -->
  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}" title="Next page" class="pagination-item">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
    </svg>          
  </a>
  {% endif %}
  <!-- LAST PAGE -->
  {% if page_obj.paginator.num_pages > 5 and page_obj.has_next %}
  <a href="?page={{ page_obj.paginator.num_pages }}" title="Last page" class="pagination-item">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
      <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
    </svg>
  </a>
  {% endif %}
</nav>
{% endif %}