{% if not user.is_authenticated %}
<div class="box flex justify-center items-center py-8 mt-4">
  <h3 class="font-medium mx-4">Get top deals, latest trends, and more.</h3>
  <form action="POST" class="mx-4">
    {% csrf_token %}
    <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm cs-rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email address">
  </form>
  <a href="" class="primary-btn mx-4">Sign Up</a>
  <a href="" class="mx-4">Policy privacy</a>
</div>
{% endif %}