{% extends 'layouts/base_main.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<section class="form__wrapper">
  <header class="form__header">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon-lg">
      <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
    </svg>
    <h2 class="headline">Sign in to your account</h2>
  </header>
  <form method="POST" class="space-y-4">{% csrf_token %}
    {% if form.error_messages %}
    <div class="bg-neutral-700 p-4 rounded-xl text-white hidden" role="alert">
      {{ form.get_invalid_login_error }}
    </div>
    {% endif %}
    <label for="username" class="block">
      <span class="bold">Your username</span>
      {{ form.username }}
    </label>
    <label for="password" class="block">
      <span class="bold">Your password</span>
      {{ form.password }}
    </label>
    <div class="flex justify-between">
      <div class="flex items-start">
        <div class="flex items-center h-5">
          <input id="remember" type="checkbox" value="#" class="form__input-checkbox" required>
        </div>
        <label for="remember" class="ml-2">Remember me</label>
      </div>
      <a href="#" title="Lost password?" class="link-bold">Lost password?</a>
    </div>
    <button type="submit" class="btn btn--primary w-full">Login</button>
    <div class="strong text-center">
      Not registered? <a href="{% url 'users:registration' %}" title="Registration" class="link-bold">Create account</a>
    </div>
  </form>
</section>

{% endblock %}