{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
<main class="form-main">
  <section class="form-wrap">
    <header class="form-head">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-lg">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      <h2 class="headline-1">Sign in to your account</h2>
    </header>
    <form method="POST" class="space-y-4">{% csrf_token %}
      {% if form.error_messages %}
      <div class="bg-neutral-700 p-4 cs-rounded text-white hidden" role="alert">
        {{ form.get_invalid_login_error }}
      </div>
      {% endif %}
      <label for="username" class="block">
        <span class="bold">Your username</span>
        {{ form.username }}
      </label>
      <label for="password" class="block">
        <span class="bold">Your password</span>
        {{ form.password }}
      </label>
      <div class="flex justify-between">
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 cs-rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-600 dark:border-gray-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required>
          </div>
          <label for="remember" class="ml-2">Remember me</label>
        </div>
        <a href="#" title="Lost password?" class="link-bold">Lost password?</a>
      </div>
      <button type="submit" class="btn-primary w-full">Login</button>
      <div class="strong text-center">
        Not registered? <a href="{% url 'users:registration' %}" title="Registration" class="link-bold">Create account</a>
      </div>
    </form>
  </section>
</main>
{% endblock %}