{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="relative dark:bg-neutral-800 rounded-xl p-4 mt-4">
  <form method="POST" class="max-w-screen-md mx-auto">{% csrf_token %}
    <div class="mb-4">
      <label class="block mb-2">Username</label>
      {{ form.username }}
    </div>
    <div class="mb-4">
      <label class="block mb-2">Email</label>
      {{ form.email }}
    </div>
    <div class="mb-4">
      <label class="block mb-2">Password</label>
      {{ form.password1 }}
    </div>
    <div class="mb-4">
      <label class="block mb-2">Password Repeat</label>
      {{ form.password2 }}
    </div>
    <div class="mb-4">
      <label class="block mb-2">First Name</label>
      {{ form.first_name }}
    </div>
    <div class="mb-4">
      <label class="block mb-2">Last Name</label>
      {{ form.last_name }}
    </div>
    <div class="mb-4">
      <label class="block mb-2">Adress</label>
      {{ form.address }}
    </div>
    <div class="mb-4">
      <label class="block mb-2">Phone Number</label>
      {{ form.phone_number }}
    </div>
    <div class="flex justify-center">
      <button type="submit"
        class="px-5 py-2.5 bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-white text-white text-center rounded-xl mr-4">
        Sign Up
      </button>
      <a href="#" class="px-5 py-2.5 bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-white text-white text-center rounded-xl">
        Cancel
      </a>
    </div>
  </form>
</div>
{% endblock content %}