{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block content %}
<main>
  {% include "fragments/title.html" with title="Checkout" %}
  <section class="checkout-wrapper">
    <div class="checkout-image">
      <img src="{{ product.image.url }}" alt="{{ product.title }}">
    </div>
    <article class="checkout-info">
      <h2 class="title-h2">Products list</h2>
      <span>{{product.title}}</span>
      <span>${{product.normal_price}}</span>
      <div class="mt-auto">
        {{paypal.render}}
      </div>
    </article>
  </section>
</main>
{% endblock content %}