{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block content %}
<main>
  <header class="my-4">
    <h1 class="headline-1">Review your order (0 items)</h1>
  </header>
  <section class="check-wrap">
    <figure class="check-img">
      <img src="{{ product.image.url }}" alt="{{ product.title }}">
    </figure>
    <article class="check-info">
      <h2 class="headline-2">{{ product.title }}</h2>
      <div class="mb-4">
        {% if product.sale_price %}
          <span class="price-sp">${{ product.sale_price }}</span>
          <span class="price-sp-2">${{ product.normal_price }}</span>
          <span class="price-d">-{{ product.deal.discount|floatformat:0 }}%</span>
        {% else %}
          <span class="price-np">${{ product.normal_price }}</span>
        {% endif %}
      </div>
      <div>
        <a href="">adress</a>
        <a href="">phone</a>
      </div>
      <div class="mt-auto">
        {{paypal.render}}
        <a href="" class="btn-secondary">Cancel</a>
      </div>
    </article>
  </section>
</main>
{% endblock %}